@using System.Security.Claims
@using GraduationProject.AppSettings
@using GraduationProject.Applications.ApplicationUsers
@using GraduationProject.Infrastructures.Images
@using GraduationProject.Infrastructures.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject ApplicationUserService UserService
@inject IFileImageService FileImageService
@inject Microsoft.Extensions.Options.IOptions<ApplicationConfiguration> ApplicationConfiguration
@{
    var currentPageFolderName = ViewData["PageFolderName"]?.ToString() ?? string.Empty;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var currentLoginUser = await UserService.GetByIdAsync(userId);
    var nameEmail = currentLoginUser?.FullName ?? currentLoginUser?.Email;
    var profilePicture = currentLoginUser?.ProfilePicture;
    var avatarUrl = profilePicture != null ? $"data:image/png;base64,{Convert.ToBase64String(profilePicture)}" : Url.Content("~/images/avatar-male.jpg");
    var appConfig = ApplicationConfiguration.Value;
    var appName = appConfig.AppName;
}

<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-area="" asp-page="/Dashboards/DefaultDashboard" class="brand-link">
        <img src="~/images/background11.jpg" alt="Forked Spider Web Company" style="height: 60px; display:block;margin-left:auto;margin-right:auto;width:80%">    
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@avatarUrl" class="img-circle elevation-2 user-image-small" alt="User Image">
            </div>
            <div class="info">
                <a asp-area="" asp-page="/UserProfiles/UserList" class="d-block ">@nameEmail</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"> 
                <li class="nav-item @(ViewData["Module"]?.ToString() == "Dashboards" ? "menu-open" : "")">
                    <a href="#" class="nav-link @(ViewData["Module"]?.ToString() == "Dashboards" ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboards
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-page="/Dashboards/DefaultDashboard" class="nav-link @(currentPageFolderName.Equals("Dashboards") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboards</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item @(ViewData["Module"]?.ToString() == "Sales" ? "menu-open" : "")">
                        <a href="#" class="nav-link @(ViewData["Module"]?.ToString() == "Sales" ? "active" : "")">
                            <i class="nav-icon fas fa-shopping-cart"></i>
                            <p>
                                Sales
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/CustomerGroups/CustomerGroupList" class="nav-link @(currentPageFolderName.Equals("CustomerGroups") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Customer Groups</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/CustomerCategories/CustomerCategoryList" class="nav-link @(currentPageFolderName.Equals("CustomerCategories") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Customer Categories</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Customers/CustomerList" class="nav-link @(currentPageFolderName.Equals("Customers") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Customers</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/CustomerContacts/CustomerContactList" class="nav-link @(currentPageFolderName.Equals("CustomerContacts") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Customer Contacts</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/SalesOrders/SalesOrderList" class="nav-link @(currentPageFolderName.Equals("SalesOrders") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Sales Orders</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/SalesOrderItems/SalesOrderItemList" class="nav-link @(currentPageFolderName.Equals("SalesOrderItems") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Sales Order Items</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item @(ViewData["Module"]?.ToString() == "Purchase" ? "menu-open" : "")">
                        <a href="#" class="nav-link @(ViewData["Module"]?.ToString() == "Purchase" ? "active" : "")">
                            <i class="nav-icon fas fa-industry"></i>
                            <p>
                                Manufacturing
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                    <ul class="nav nav-treeview">
                    @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a asp-page="/FactoryType/FactoryTypeList" class="nav-link @(currentPageFolderName.Equals("FactoryType") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Factories Type</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/FactoryClassification/FactoriesClassificationList" class="nav-link @(currentPageFolderName.Equals("FactoryClassification") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Factories Classification</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Factory/factoriesList" class="nav-link @(currentPageFolderName.Equals("Factory") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Factories</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/FactoryContacts/FactoryContactList" class="nav-link @(currentPageFolderName.Equals("FactoryContacts") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Factories Contacts</p>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                                <a asp-page="/ManufacturingOrder/ManufacturingOrdersList" class="nav-link @(currentPageFolderName.Equals("ManufacturingOrder") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Manufacturing Orders</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/ManufacturingOrderItems/ManufacturingOrderItemList" class="nav-link @(currentPageFolderName.Equals("ManufacturingOrderItems") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Manufacturing Items</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                
                <li class="nav-item @(ViewData["Module"]?.ToString() == "Inventory" ? "menu-open" : "")">
                    <a href="#" class="nav-link @(ViewData["Module"]?.ToString() == "Inventory" ? "active" : "")">
                        <i class="nav-icon fas fa-cubes"></i>
                        <p>
                            Inventory
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a asp-page="/UnitMeasures/UnitMeasureList" class="nav-link @(currentPageFolderName.Equals("UnitMeasures") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Unit Measures</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/ProductGroups/ProductGroupList" class="nav-link @(currentPageFolderName.Equals("ProductGroups") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Product Groups</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Products/ProductList" class="nav-link @(currentPageFolderName.Equals("Products") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Products</p>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-page="/Warehouses/WarehouseList" class="nav-link @(currentPageFolderName.Equals("Warehouses") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Warehouses</p>
                            </a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a asp-page="/DeliveryOrders/DeliveryOrderList" class="nav-link @(currentPageFolderName.Equals("DeliveryOrders") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Delivery Orders</p>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-page="/SalesReturns/SalesReturnList" class="nav-link @(currentPageFolderName.Equals("SalesReturns") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sales Returns</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/GoodsReceives/GoodsReceiveList" class="nav-link @(currentPageFolderName.Equals("GoodsReceives") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Goods Receives</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/ManufacturingReturnProdcut/ManufacturingReturnProdcutList" class="nav-link @(currentPageFolderName.Equals("ManufacturingReturnProdcut") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manufacturing Returns</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/TransferOuts/TransferOutList" class="nav-link @(currentPageFolderName.Equals("TransferOuts") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Transfer Outs</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/TransferIns/TransferInList" class="nav-link @(currentPageFolderName.Equals("TransferIns") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Transfer Ins</p>
                            </a>
                        </li>
                        <!--
                        <li class="nav-item">
                        <a asp-page="/PositiveAdjustments/PositiveAdjustmentList" class="nav-link @(currentPageFolderName.Equals("PositiveAdjustments") ? "active" : "")">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Positive Adjustments</p>
                        </a>
                        </li>

                        <li class="nav-item">
                            <a asp-page="/NegativeAdjustments/NegativeAdjustmentList" class="nav-link @(currentPageFolderName.Equals("NegativeAdjustments") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Negative Adjustments</p>
                            </a>
                        </li>

                        -->         
                        <li class="nav-item">
                            <a asp-page="/Scrappings/ScrappingList" class="nav-link @(currentPageFolderName.Equals("Scrappings") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Scrappings</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/StockCounts/StockCountList" class="nav-link @(currentPageFolderName.Equals("StockCounts") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Stock Counts</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/InventoryTransactions/InventoryTransactionList" class="nav-link @(currentPageFolderName.Equals("InventoryTransactions") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inventory Transactions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/InventoryStocks/InventoryStockList" class="nav-link @(currentPageFolderName.Equals("InventoryStocks") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inventory Stocks</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/InventoryMovements/InventoryMovementList" class="nav-link @(currentPageFolderName.Equals("InventoryMovements") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inventory Movements</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item @(ViewData["Module"]?.ToString() == "Settings" ? "menu-open" : "")">
                        <a href="#" class="nav-link @(ViewData["Module"]?.ToString() == "Settings" ? "active" : "")">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                                Settings
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/Companies/CompanyList" class="nav-link @(currentPageFolderName.Equals("Companies") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Company</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/DeliveryCompanies/DeliveryCompaniesList" class="nav-link @(currentPageFolderName.Equals("DeliveryCompanies") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Delivery Companies</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Taxes/TaxList" class="nav-link @(currentPageFolderName.Equals("Taxes") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tax</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/UserProfiles/UserList" class="nav-link @(currentPageFolderName.Equals("UserProfiles") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>User Profile</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Users/UserList" class="nav-link @(currentPageFolderName.Equals("Users") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>User List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/NumberSequences/NumberSequenceList" class="nav-link @(currentPageFolderName.Equals("NumberSequences") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Sequence</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item @(ViewData["Module"]?.ToString() == "Log" ? "menu-open" : "")">
                        <a href="#" class="nav-link @(ViewData["Module"]?.ToString() == "Log" ? "active" : "")">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p>
                                Log
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/LogSessions/LogSessionList" class="nav-link @(currentPageFolderName.Equals("LogSessions") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Log Session</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/LogErrors/LogErrorList" class="nav-link @(currentPageFolderName.Equals("LogErrors") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Log Error</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/LogAnalytics/LogAnalyticList" class="nav-link @(currentPageFolderName.Equals("LogAnalytics") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Log Analytic</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>