@model GraduationProject.Models.Entities.GoodsReceiveDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsReceive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsReceive.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
