@page
@using GraduationProject.Models.Enums
@model GraduationProject.Pages.CityPage.CityPageFormModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
}

<div class="form-card">
    <form id="formMain" method="post" enctype="multipart/form-data" novalidate="">
        <input type="hidden" asp-for="@Model.CityInfoForm.RowGuid" />
        <div class="form-card-body">

            <p class="small-italic-left">General</p>
            <fieldset>       
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.CityName" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.CityName" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.CityAscii" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.CityAscii" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.Lat" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.Lat" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.Lng" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.Lng" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.Country" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.Country" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.Iso2" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.Iso2" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.Iso3" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.Iso3" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.AdminName" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.AdminName" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.Capital" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.Capital" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CityInfoForm.Population" class="form-label"></label>
                            <input asp-for="@Model.CityInfoForm.Population" class="form-control" type="text" />
                        </div>
                    </div>
                </div>       
            </fieldset>

        </div>
        <div class="form-card-footer">
            <button type="submit" id="btnSubmit" class="e-btn e-control @(Model.Action == "delete" ? "e-danger" : "")">@(Model.Action == "delete" ? "Delete" : "Submit")</button>
        </div>

    </form>
</div>




@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            showStatusMessage('@statusMessage');
            new ej.inputs.TextBox({}, '#CityInfoForm_CityName');
            new ej.inputs.TextBox({}, '#CityInfoForm_CityAscii');
            new ej.inputs.TextBox({}, '#CityInfoForm_Lat');
            new ej.inputs.TextBox({}, '#CityInfoForm_Lng');
            new ej.inputs.TextBox({}, '#CityInfoForm_Country');
            new ej.inputs.TextBox({}, '#CityInfoForm_Iso2');
            new ej.inputs.TextBox({}, '#CityInfoForm_Iso3');
            new ej.inputs.TextBox({}, '#CityInfoForm_AdminName');
            new ej.inputs.TextBox({}, '#CityInfoForm_Capital');
            new ej.inputs.TextBox({}, '#CityInfoForm_Population');

            new ej.buttons.Button({ isPrimary: true }, '#btnSubmit');
            var validationOptions = {
                rules: {
                    'CityInfoForm.CityName': { required: true },
                    'CityInfoForm.Lat': { required: true },
                    'CityInfoForm.Lng': { required: true },
                }
            }
            var formValidator = new ej.inputs.FormValidator('#formMain', validationOptions);
            var formElement = document.getElementById('formMain');
            formElement.addEventListener('submit', function (e) {
                e.preventDefault();
                if (formValidator.validate()) {
                    formElement.submit();
                }
            })
        });
    </script>
}
